* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;


}

/* ===========
header and navigation style
==========
*/
.nv-header {
    height: 100vh;
    background-color: #fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: 580px, 75px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 220px 0 220px;
}

.nav-title,
.mary-r {
    /* margin-top: -20px; */
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;

}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

.mary-r {
    color: #FD6E0A;
}

/* button    */
.btn-primary {
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    Size: 20px;
    color: #FFFFFF;
    border: none;
}

/* banner */
.banner {
    margin: 0 30px 0px 200px;
    display: flex;
    align-items: center;
}

.banner-sub-h {
    font-weight: 600;
    font-size: 35px;
}


.banner-h {
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-text p {
    margin-bottom: 30px;
}

.contact-btn {
    background-color: white;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 30px;

}

.banner-img {
    height: 528px;

}

.banner-img img {
    height: 100%;
}

/* =========
main section style
   ======== */
main {
    max-width: 1100px;
    margin: 90px auto 0 auto;
}

/* ======== common section styles ========== */
.section-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;

}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.container {
    margin-top: 130px;
    text-align: center;
    padding: 130px 150px;
    border-radius: 10px;

}

/* =========about======== */
.about {
    background-color: #fff8f3;

}

.about-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.about-info.info-title {
    font-size: 20px;
    color: #757575;
}

.about-info .info-description {
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}

/* ========= skill style === */
.my-skils {
    margin-top: 130px;
    padding: 10px 100px;
    border-radius: 10px;
    text-align: center;
}

.all-skills {
    text-align: start;
    display: flex;
    gap: 24px;
}

.skil {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    width: 267px;
    height: 300px;
    padding: 5px 0 0 5px;
}

.skil-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;


}

.skil-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* my-resume */
.my-resume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 28px;
    text-align: start;
}

.education,
.experience {
    border-bottom: 1px solid gray;
}

.resume-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-top: 30px;
    margin-bottom: 10px;

}

.resume-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    padding: 10px 0 20px 0;

}
.resume-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575;

}